.contact-section {
  background-image: url(../../../images/torontomap.png);
  background-size: cover;
  background-position: center;
  .wrapper {
    padding: 75px 0;
  }
  .back-to-top {
    display: block;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-family: $baseFont;
    i {
      font-size: 35px;
    }
    &:hover i {
      text-decoration: overline;
    }
    &:hover {
      color: $darkRed;
    }
    p {
      margin: 0;
    }
  }
  .contact-section_background {
    background-color: white;
    padding: 75px 50px;
  }
}

.contact-area {
  display: flex;
  .contact-info {
    margin-right: 100px;
    h3 {
      color: $darkRed;
      margin: 0;
      font-family: $titleFont;
      font-weight: 200;
    }
    i {
      margin-right: 10px;
    }
    p {
      margin: 10px 0 35px 0;
      font-family: $baseFont;
    }
  }
  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .text-email {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      input {
        width: 100%;
        padding: 5px;
        border: 2px solid $darkRed;
      }
      .form-text {
        width: calc(50% - 7.5px);
        margin-right: 15px;
      }
      .form-email {
        width: calc(50% - 7.5px);
      }
    }
    textarea {
      width: 100%;
      margin-bottom: 20px;
      padding: 5px;
      border: 2px solid $darkRed;
    }
    label {
      display: block;
      margin-bottom: 5px;
      font-family: $titleFont;
      font-weight: 200;
      text-transform: uppercase;
      color: $darkRed;
    }
    input[type='submit'] {
      align-self: center;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 10px;
      border: 3px solid $darkRed;
      font-family: $titleFont;
      font-weight: 200;
      text-transform: uppercase;
      color: $darkRed;
      transition: all 0.5s;
      &:hover {
        background-color: $darkRed;
        color: white;
      }
    }
  }
}

.contact-info_email p a {
  transition: all 0.5s;
  &:hover {
    text-decoration: underline;
    color: $darkRed;
  }
}

.contact-info_social p a {
  font-size: 20px;
  margin-right: 10px;
  transition: all 0.5s;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    color: $darkRed;
  }
}

//Responsive Stuff

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .contact-area {
    flex-direction: column;
    form {
      order: 0;
    }
    .contact-info {
      order: 1;
      margin-right: 0;
      margin-top: 50px;
      text-align: center;
    }
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .contact-area {
    form {
      .text-email {
        flex-direction: column;
        input {
          padding: 10px 5px;
        }
        .form-text {
          width: 100%;
          margin-right: 0;
        }
        .form-email {
          width: 100%;
        }
      }
    }
  }
  .contact-section {
    .contact-section_background {
      padding: 75px 20px;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .contact-section_background {
    .section-title h2 {
      font-size: 30px;
    }
  }
}
