.projects-section {
  background-image: linear-gradient(to bottom, $coolGrey 2%, $darkRed);
  background-image: url(../../images/project-background.png);
}

.project-card_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .project-card {
    flex-basis: 900px;
    margin-bottom: 200px;
    display: flex;
    align-items: center;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.project-card_img {
  flex: 1 0 50%;
  margin-right: 15px;
  img {
    position: relative;
    bottom: 0;
    max-width: 100%;
    box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
    transition: all 1s;
    &:hover {
      bottom: -10px;
      box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
    }
  }
}

.inverted img {
  position: relative;
  bottom: 0;
  margin-right: 0;
  margin-left: 15px;
  box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.8);
  transition: all 1s;
  &:hover {
    bottom: -10px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  }
}

.project-card_text {
  padding: 25px 15px;
  flex: 1 0 calc(50% - 15px);
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: $titleFont;
    text-transform: uppercase;
  }
  .title-line_small {
    width: 50px;
    height: 3px;
    background-color: $darkRed;
    margin-bottom: 10px;
  }
  h4 {
    margin: 0;
    font-family: $titleFont;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 16px;
  }
  p {
    line-height: 25px;
  }
}

.project-card_text p a {
  text-decoration: underline;
  transition: all 0.3s;
  &:hover {
    color: $darkRed;
  }
}

.inverted-text {
  text-align: right;
  .title-line_small {
    align-self: flex-end;
  }
  ul {
    justify-content: flex-end;
  }
}

ul.project-skills_list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 20px;
  li {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 13px;
    font-family: $titleFont;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.project-card_buttons {
  button {
    padding: 10px 20px;
    font-size: 20px;
    font-family: $baseFont;
    text-transform: uppercase;
    color: $darkRed;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid $darkRed;
    transition: all 1s;
    &:hover {
      background-color: $darkRed;
      border: 2px solid $darkRed;
      color: white;
    }
  }
  .github-button {
    margin-right: 10px;
    color: white;
    background-color: black;
    border: 2px solid black;
    transition: all 1s;
    &:hover {
      border: 2px solid $darkRed;
      background-color: $darkRed;
      color: white;
    }
  }
}

//Responsive Stuff

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .project-card_area {
    .project-card {
      flex-basis: 100%;
      margin-bottom: 200px;
      flex-direction: column;
    }
  }
  .project-card_img {
    flex: 1 0 auto;
    margin-right: 0px;
    margin-bottom: 25px;
    order: 0;
    img {
      box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
      transition: all 1s;
      &:hover {
        bottom: -10px;
        box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
      }
    }
  }
  .project-card_text {
    padding: 25px 15px;
    flex: 1 0 auto;
    order: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    ul {
      justify-content: center;
    }
  }
  .inverted img {
    margin-left: 0;
  }
  .inverted-text {
    text-align: center;
    .title-line_small {
      align-self: center;
    }
    ul {
      justify-content: center;
    }
  }
}
