//SKills Section Styling

.skills-section{
	background-color: $coolGrey;
}


.skills-area{
	display: flex;
	flex-wrap: wrap;
}

.skill-card{
	flex: 1 0 150px;
	padding: 25px 15px;
	text-align: center;
	.skill-card_icon{
		font-size: 100px;
		color: $coolRed	;
	}
}

