//Font Stuff
$titleFont: 'Montserrat', sans-serif;
$baseFont: 'Source Sans Pro', sans-serif;

//Colour Sturf
$coolRed: #e0001a;
$darkRed: #ba0015;
$coolGrey: #efefef;

// font-family: 'Montserrat', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;