article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201c \201d \2018 \2019;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #3a31b4;
}
header .header-background {
  padding: 55px 55px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url(../../images/circuitBackground.png);
  background-position: center;
  background-attachment: fixed;
}
header .name-title {
  -ms-flex-item-align: start;
  align-self: flex-start;
}
header span {
  display: block;
  margin-top: -45px;
}
header h1 {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 115px;
  text-transform: uppercase;
}
header .fa-chevron-down {
  color: white;
  font-size: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .fa-chevron-down:hover {
  color: black;
  text-decoration: underline;
}

nav {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
nav .nav-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
nav .nav-hamburger i {
  font-size: 35px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
nav .nav-hamburger:hover i {
  color: black;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 300px;
  position: fixed;
  z-index: 20;
  background-color: white;
  padding: 20px 15px;
  top: 0;
  bottom: 0;
  right: -300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.nav-bar li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.nav-bar li img {
  border-radius: 200px;
  border: 2px solid black;
  margin-top: 20px;
}
.nav-bar li:hover a {
  border-bottom: 3px solid #3a31b4;
}
.nav-bar .nav-bar_close {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 35px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-bar .nav-bar_close:hover {
  color: #3a31b4;
}

.nav-bar_open {
  right: 0;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  header .header-background {
    background-image: none;
  }
  header .name-title {
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }
  header .name-title h1 {
    font-size: 90px;
  }
  header .name-title span {
    margin-top: -25px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  header .name-title h1 {
    font-size: 60px;
  }
  header .name-title h2 {
    font-size: 25px;
  }
  .nav-bar {
    right: -480px;
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .nav-bar li {
    font-size: 30px;
  }
  .nav-bar .nav-bar_close {
    top: 20px;
    left: 20px;
    font-size: 40px;
  }
  .nav-bar_open {
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

.about-section {
  background-image: url(../../../images/about-me-background.png);
}
.about-section .about-section_overlay {
  background-color: rgba(255, 255, 255, 0.7);
}

.about-section_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about-section_flex .about-flex_child {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}
.about-section_flex .about-flex_img {
  margin-right: 25px;
}
.about-section_flex .about-flex_img img {
  border-radius: 500px;
  -webkit-box-shadow: -10px 10px 0px 2px black;
  box-shadow: -10px 10px 0px 2px black;
  max-width: 100%;
}
.about-section_flex .about-flex_text p {
  margin-top: 25px;
  font-famiy: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .about-section_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .about-section_flex .about-flex_child {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  .about-section_flex .about-flex_img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-right: 0;
    margin-top: 25px;
    display: block;
  }
  .about-section_flex .about-flex_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 25px;
  }
  .about-section_flex .about-flex_text h2 {
    font-size: 35px;
  }
  .about-section_flex .about-flex_text p {
    text-align: center;
  }
}

.skills-section {
  /* background-color: #efefef; */
  background-color: #3a31b4;
}

.skills-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.skill-card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 150px;
  flex: 1 0 150px;
  padding: 25px 15px;
  text-align: center;
}
.skill-card .skill-card_icon {
  font-size: 100px;
  color: #efefef;
}

.projects-section {
  background-image: url(../../images/projectBackround.png);
  /* background-color: #efefef; */
}

.project-card_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.project-card_area .project-card {
  -ms-flex-preferred-size: 900px;
  flex-basis: 900px;
  margin-bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.project-card_area .project-card:last-of-type {
  margin-bottom: 0;
}

.project-card_img {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
  margin-right: 15px;
}
.project-card_img img {
  position: relative;
  bottom: 0;
  max-width: 100%;
  -webkit-box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.project-card_img img:hover {
  bottom: -10px;
  -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.inverted img {
  position: relative;
  bottom: 0;
  margin-right: 0;
  margin-left: 15px;
  -webkit-box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 15px 25px 0px rgba(0, 0, 0, 0.8);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.inverted img:hover {
  bottom: -10px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.project-card_text {
  padding: 25px 15px;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 calc(50% - 15px);
  flex: 1 0 calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.project-card_text h3 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.project-card_text .title-line_small {
  width: 50px;
  height: 3px;
  background-color: #3a31b4;
  margin-bottom: 10px;
}
.project-card_text h4 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 16px;
}
.project-card_text p {
  line-height: 25px;
}

.project-card_text p a {
  text-decoration: underline;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.project-card_text p a:hover {
  color: #3a31b4;
}

.inverted-text {
  text-align: right;
}
.inverted-text .title-line_small {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.inverted-text ul {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

ul.project-skills_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
ul.project-skills_list li {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
ul.project-skills_list li:last-of-type {
  margin-right: 0;
}

.project-card_buttons button {
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  color: #3a31b4;
  background-color: transparent;
  border: 2px solid #3a31b4;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.project-card_buttons button:hover {
  background-color: #3a31b4;
  border: 2px solid #3a31b4;
  color: white;
}

.project-card_buttons .github-button {
  margin-right: 10px;
  color: white;
  background-color: black;
  border: 2px solid black;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.project-card_buttons .github-button:hover {
  border: 2px solid #3a31b4;
  background-color: #3a31b4;
  color: white;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .project-card_area .project-card {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .project-card_img {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: 0px;
    margin-bottom: 25px;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .project-card_img img {
    -webkit-box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
    box-shadow: -10px 15px 25px 0px rgba(0, 0, 0, 0.8);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .project-card_img img:hover {
    bottom: -10px;
    -webkit-box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.8);
  }
  .project-card_text {
    padding: 25px 15px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .project-card_text ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .inverted img {
    margin-left: 0;
  }
  .inverted-text {
    text-align: center;
  }
  .inverted-text .title-line_small {
    -ms-flex-item-align: center;
    align-self: center;
  }
  .inverted-text ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.contact-section {
  background-image: url(../../images/torontomap-ConvertImage.png);
  background-size: cover;
  background-position: center;
}
.contact-section .wrapper {
  padding: 75px 0;
}
.contact-section .back-to-top {
  display: block;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-section .back-to-top i {
  font-size: 35px;
}
.contact-section .back-to-top:hover i {
  text-decoration: overline;
}
.contact-section .back-to-top:hover {
  color: #3a31b4;
}
.contact-section .back-to-top p {
  margin: 0;
}
.contact-section .contact-section_background {
  background-color: white;
  padding: 75px 50px;
}

.contact-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-area .contact-info {
  margin-right: 100px;
}
.contact-area .contact-info h3 {
  color: #3a31b4;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
}
.contact-area .contact-info i {
  margin-right: 10px;
}
.contact-area .contact-info p {
  margin: 10px 0 35px 0;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-area form {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.contact-area form .text-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.contact-area form .text-email input {
  width: 100%;
  padding: 5px;
  border: 2px solid #3a31b4;
}
.contact-area form .text-email .form-text {
  width: calc(50% - 7.5px);
  margin-right: 15px;
}
.contact-area form .text-email .form-email {
  width: calc(50% - 7.5px);
}
.contact-area form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #3a31b4;
}
.contact-area form label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #3a31b4;
}
.contact-area form input[type='submit'] {
  -ms-flex-item-align: center;
  align-self: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  border: 3px solid #3a31b4;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #3a31b4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-area form input[type='submit']:hover {
  background-color: #3a31b4;
  color: white;
}

.contact-info_email p a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info_email p a:hover {
  text-decoration: underline;
  color: #3a31b4;
}

.contact-info_social p a {
  font-size: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact-info_social p a:last-of-type {
  margin-right: 0;
}
.contact-info_social p a:hover {
  color: #3a31b4;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .contact-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-area form {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .contact-area .contact-info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-right: 0;
    margin-top: 50px;
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .contact-area form .text-email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-area form .text-email input {
    padding: 10px 5px;
  }
  .contact-area form .text-email .form-text {
    width: 100%;
    margin-right: 0;
  }
  .contact-area form .text-email .form-email {
    width: 100%;
  }
  .contact-section .contact-section_background {
    padding: 75px 20px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .contact-section_background .section-title h2 {
    font-size: 30px;
  }
}

.max-width {
  max-width: 1400px;
}

.wrapper {
  padding: 150px 0;
  width: calc(100% - (1400px - 1120px));
  margin: 0 auto;
}

.red-title-line {
  width: 80px;
  height: 5px;
  background-color: #3a31b4;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

section h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}
section h2 span {
  font-weight: 700;
}

header h2 {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
}

.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}
.section-title .red-title-line {
  margin-top: 10px;
}

ul {
  margin: 0;
}
ul li {
  list-style: none;
  padding: none;
}

footer {
  padding: 15px 20px;
  background-color: #3a31b4;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.dark-overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.66);
  z-index: 10;
}

.dark-overlay_on {
  display: block;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    width: 85%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .section-title h2 {
    font-size: 35px;
  }
}
